{
  "extends": [
    "alloy",
    "alloy/react",
    "alloy/typescript"
  ],
  "globals": {
    "chrome": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": "error"
  },
  "plugins": [
    "prettier",
    "react-hooks"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
