{
  "printWidth": 120,
  "singleQuote": true,
  "trailingComma": "all",
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "endOfLine": "lf",
  "quoteProps": "as-needed",
  "bracketSpacing": true,
  "overrides": [
    {
      "files": ".editorconfig",
      "options": { "parser": "yaml" }
    }
  ]
}
