.github-plus-loading {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin-left: 5px;
  border: 4px solid rgba(150, 150, 150, 0.2);
  border-radius: 50%;
  border-top-color: rgb(150, 150, 150);
  animation: rotate 1s 0s infinite ease-in-out;
}

@keyframes rotate {
  0%   { transform: rotate(0);      }
  100% { transform: rotate(360deg); }
}