.github-plus-user-desc,
.github-plus-user-tags {
  margin-top: 10px;
}

.github-plus-user-desc {
  font-size: 16px;
  color: #000;
}

.github-plus-user-tags span {
  color: #FFF;
  font-size: 14px;
  margin-right: 4px;
  border-radius: 3px;
  background: #f90;
  padding: 5px 10px;
}
