:root {
  --primary-color: #f90;
  --bg-color: #000;
  --text-color: #fff;
}

.github-plus-sidebar {
  width: 280px;
  position: fixed;
  z-index: 99999;
  top: 80px;
  left: 10px;
  background-color: var(--bg-color);
  font-size: 14px;
  color: var(--text-color);
}
